
/* Main Styles / Navigation */

#masthead {	float: left; width: 160px;}

#site-title {
	font: bold 1.6em Arial, Sans-Serif;
	letter-spacing: -1px; 
	color: #0189b3;
	text-decoration: none;
	font-weight: bold;
}

#tagline {
	font:  normal 1.4em;
	margin-left: 5px;
	color: #999;
	vertical-align: middle;
}

#nav {
	float: left;
	margin: 4px auto;
	padding-left: 30px;
	margin-top: 10px;
}

#nav ul { margin:0; list-style:none; padding: 0; }
#nav a, #nav strong, #nav span { display:block; font: bold 1em Arial, sans-serif; padding: 0 10px 5px 10px; text-decoration:none; font-weight: bold;}
#nav a { float:none; }
#nav li { float:left; margin:0; padding:0 0 0 0px; }
#nav a:hover, .current_page_item a { float:left; color:#0189b3; padding: 0 10px 5px 10px; border-bottom: 2px solid #01afc7;}

/* Indicators / Notices */

#ajax-indicator {
  float: right ;
  position: fixed;
  top: 8%;
  left: 85%;
  right: 3%;
  padding:  5px;
  margin:  1px ;
  font-weight:  bold ;
}

#ajax-indicator img {
  vertical-align: middle ;
  padding-left: 6px ;
}

#notice {
  padding:  5px;
  margin:  1px ;
  width: 60%;
  background-color: #ff9;
  border: 1px solid #ccc;
  text-align: left;
  margin-bottom: 8px;
}

.highlight {
  color: #777;
  padding:  4px;
  margin:  1px ;
  width: 60%;
  background-color: #ffc;
  border: 1px dotted #ccc;
  text-align: left;
  margin-bottom: 8px;
}

/*  Table Styling */

table,td,th{
  border:1px solid #aaa;
  border-collapse:collapse;
  margin:0;
  padding:0;
}
td,th{
  padding:.2em .5em;
  vertical-align:top;
  font-weight:normal;
}
thead th{
  text-transform:uppercase;
  background:#666;
  color:#fff;
}
tbody td{
  background:#e1e1e1;
  text-align: left;
}
tbody th{
  background:#999;
  color: #fff;
  text-decoration: underline; 
  text-align: left;
}
tbody tr.odd td{
  background:#eee;
}
tbody tr.odd th{
  background:#ddd;
}
caption{
  text-align:left;
  font-size:140%;
  text-transform:uppercase;
  letter-spacing:-1px;
}
table th a:link{
  color:#030;
}
table th a:visited{
  color:#003;
}
table td a:link{
  color:#369;
}
table td a:visited{
  color:#000;
}
table a:hover{
  text-decoration:none;
}
table a:active{
  color:#000;
}

.tlabel{text-align: right; font-weight: bold; padding: 4px;}

/* Pagination, Digg-style */

.pagination {
   padding: 5px;
   margin: 5px;
   font-size: .9em;
  text-align: center;
 }
 .pagination a {
   padding: 2px 5px 2px 5px;
   margin: 2px;
   border: 1px solid #aaaadd;
   text-decoration: none;
   color: #369;
 }
 .pagination a:hover, .pagination a:active {
   border: 1px solid #369;
   color: #000;
 }
 .pagination span.current {
   padding: 2px 5px 2px 5px;
   margin: 2px;
   border: 1px solid #369;
   font-weight: bold;
   background-color: #369;
   color: #FFF;
 }
 .pagination span.disabled {
   padding: 2px 5px 2px 5px;
   margin: 2px;
   border: 1px solid #eee;
   color: #ddd;
 }