<% if flash && flash[:notice] %>
	<div class="notice-text" id="notice"><%= flash[:notice] %></div>
	<% 
	# forcibly clear it out here
	flash[:notice] = nil
	%>
<% else %>
  <div class="notice-text" id="notice" style="display:none;"> </div>
<% end %>

<div id="ajax-indicator" style="display: none;">
	<%
	# image_tag('/images/ajax_indicator.gif')
	 %>&nbsp;
</div>

<div class="notice-text" id="ajax-notice" style="display:none;"> </div>
