app_name: Another Hydra Site
theme: default
domain: change-me.org
domain_with_port: change-me.org
tagline: Yet another Hydra Tracker
items_per_page: 10
webmaster_email: webmaster@change-me.org
webmaster_name: Webmaster
notifiction_email: noreply@change-me.org
