app_name: Another Hydra Site
layout: application
domain: change-me.org
domain_with_port: change-me.org
webmaster_email: webmaster@change-me.org
webmaster_name: Webmaster
notifiction_email: noreply@change-me.org
auto_add_categories: false
enable_rss: false
invite_only: false
invite_wait_period: 7
invites_granted_per_month: 3
num_items_per_page: 10
num_max_peers: 10
num_announce_interval_minutes: 30
num_dead_torrent_hours: 24
num_torrent_days_to_live: 28
num_memcached_port: 11211
num_memcached_memory: 10