<% @page_title = "Done!" -%>

<h1>Finished!</h1>
<div class="progress">
<span class="done">Configuration &rarr;</span>
<span class="done">Database &rarr;</span>
<span class="current">Restart</span>
</div>

<p>You've successfully set up Hydra.  For the final step before you can begin using the site, you need to restart Ruby on Rails.  On shared hosting there is most likely an option to restart the server in the host's control panel.  Passenger users can add a blank file to <i>tmp/restart.txt</i> to restart the server.</p>
