<h1>Browse Torrents</h1>

<%= render :partial => 'torrents/search_form' -%>
	
<%= render :partial => 'shared/notice_text' %>
<%= render :partial => 'list', :locals => {:torrents => @torrents, :paginate => true} %>
